.container {
    margin-top: 2rem;
}

fieldset {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

legend {
    font-weight: 600;
}

.control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.results {
    margin-top: 1rem;
}

ul {
    padding-left: 1.25rem;
}