.container {
    margin-bottom: 1.5rem;
}

.filters {
    padding: 1rem;
}

.control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.applyButton,
.resetButton {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

.applyButton {
    background-color: #006400;
    color: #fff;
}

.applyButton:hover {
    background-color: #004d00;
}

.resetButton {
    background-color: #e8e6e6;
    color: #000;
}
.resetButton:hover {
    background-color: #cacaca;
}